/* .navbar {
  background-color: #d8dee6;
} */
/* .logo>h1{
  color: rgb(5, 160, 202);
} */
/* .logo {
  display: flex;
  justify-content: space-between;
  align-items: start;
} */

/* .token {
    flex-direction: column;
    font-size: 20px;
} */